/*====================BENEFITS START=======================*/
.benefits-wrap {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.benefit {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.benefit__img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.benefit__img__text {
  text-align: center;
  line-height: 30px;
}
.benefit__caption {
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  top: calc(50% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  gap: 10px;
}
.benefit__caption > svg {
  width: 100px;
  height: 80px;
}
.benefit__title {
  text-align: center;
  font-size: 36px;
  margin-top: 160px;
  margin-bottom: 60px;
  color: var(--blue-03);
}
/*====================BENEFITS END=======================*/

/*====================MAP START=======================*/
.map {
  position: relative;
}
.map__title {
  text-align: center;
  font-size: 36px;
  margin-top: 160px;
  margin-bottom: 60px;
}
.map iframe {
  display: block;
  width: 100%;
  height: 700px;
}
.map__details {
  position: absolute;
  bottom: 25px;
  right: 60px;
  max-width: 300px;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.75);
}

.pointer {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.pointer__img {
  width: 40px;
  height: 50px;
}
.pointer-mobile {
  display: none;
}

/*====================MAP END=======================*/

/*====================PLANNING START=======================*/
.planning__title {
  text-align: center;
  font-size: 36px;
  margin-top: 160px;
  margin-bottom: 60px;
  color: var(--blue-03);
}
.planning-wrap {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 rgba(0, 63, 128, 0.05);
}
.planning__img-wrap {
  padding: 0 120px 0 80px;
}
.planning__img {
  width: 380px;
  height: 380px;
  object-fit: contain;
}
.planning__rooms {
  width: 580px;
  background-color: var(--blue-01);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.planning__btn-wrap {
  display: flex;
  gap: 10px;
  background-color: #fff;
  border-radius: 999px;
  font-weight: 700;
  border: 1px solid transparent;
  padding: 10px;
  margin-bottom: 40px;
}
.planning-btn {
  flex-grow: 1;
}
.planning-btn-action {
  align-self: center;
}

.planning__text {
  text-align: center;
  margin-bottom: 20px;
}
.planning__text > span {
  font-size: 36px;
}
/*====================PLANNING END=======================*/

/*====================BUYING START=======================*/
.buying-bottom {
  background-color: #fff;
  padding: 40px 0;
}
.buying-wrap {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.buying__options-wrap_horisontal-position {
  width: 840px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buying__options-wrap_horisontal {
  background-color: var(--blue-01);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
}
.buying__icon-img {
  width: 90px;
  height: 90px;
}
.buying__text > h2 {
  margin-bottom: 10px;
}
.buying__options-wrap_vertical {
  width: 400px;
  background-color: var(--blue-01);
  border-radius: 20px;
  text-align: center;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.buying__options-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buying__options-text-wrap > h3 {
  font-size: 18px;
}

/*====================BUYING END=======================*/

/*====================GALLERY START=======================*/

.gallery-wrap {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.gallery__img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.gallery__img_arrow-left {
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  left: 5%;
  top: calc(50% - 25px);
}
.gallery__img_arrow-right {
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
  right: 5%;
  top: calc(50% - 25px);
}
/*====================GALLERY END=======================*/

/*====================REVIEWS START=======================*/
.reviews {
 
}
.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background-color: #fff;
  padding: 40px;
  transition: 0.3s;
  user-select: none;
}
.review:not(.swiper-slide-active){
  opacity: 0.25;
}
.review__header {
  display: flex;
  gap: 20px;
}
.review__avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.review__author-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review__text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.2;
}

/*====================REVIEWS END=======================*/

/*====================PARTNERS START=======================*/
.partners-wrap {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.partners {
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 20px 20px 0 rgba(0, 63, 128, 0.05);
}
.partners__img {
  width: 320px;
  height: 80px;
  object-fit: contain;
}
/*====================PARTNERS END=======================*/
/*====================FOOTER START=======================*/

.footer {
  background-color: var(--blue-03);
  /* padding-top: 40px; */
  color: #fff;
}
.footer-line {
  padding: 40px 0;
}
.footer-line:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.container-questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  font-size: 24px;
}
.footer__questions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.footer__questions_text {
  text-align: center;
}
.footer__questions_text > h2 {
  margin-bottom: 5px;
  font-size: 18px;
}
.footer-btn {
  background-color: #fff;
  padding: 30px 60px;
}
.footer__contacts_data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-line_documents {
  display: flex;
  gap: 80px;
  padding: 2px 0;
}
.footer-line_documents p:hover {
  text-decoration: underline;
}
.footer-line_networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
}
.networks-icon {
  display: flex;
  flex-direction: row;
}
.networks-icon > li {
  padding: 7px 10px;
}
.footer-line_networks > .footer-line_arrow {
  margin-left: 30px;
}
.footer-line_arrow {
  background-color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.fa-chevron-up {
  color: var(--blue-03);
}
/*====================FOOTER END=======================*/

/* `xxl` applies to xx-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .benefit__img,
  .gallery__img {
    width: 350px;
    height: 350px;
  }
  .benefits-wrap,
  .gallery-wrap {
    gap: 30px;
    justify-content: space-between;
  }
  .partners__img {
    width: 290px;
  }
  .partners {
    padding: 30px;
  }
}
/* `xl` applies to x-large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .section {
    margin-top: 100px;
  }
  .hero {
    padding: 120px 0;
    min-height: 800px;
    background: url('../img/hero-bg.webp') #e0e0e0 no-repeat 40% top / cover;
    display: flex;
    align-items: center;
  }
  .benefit__img,
  .gallery__img {
    width: 300px;
    height: 300px;
  }
  .benefits-wrap,
  .gallery-wrap {
    gap: 30px;
    justify-content: space-between;
  }
  .benefit__caption > svg {
    width: 70px;
    height: 50px;
  }
  .title {
    font-size: 26px;
  }
  .map__details {
    padding: 25px;
  }
  .pointer__img {
    width: 25px;
    height: 35px;
  }
  .subtitle {
    font-size: 20px;
  }
  .planning__img-wrap {
    padding: 0 0px 0 40px;
  }
  .buying__options-wrap_horisontal-position {
    width: 500px;
  }
  .buying__options-wrap_horisontal {
    padding: 20px;
  }
  .partners__img {
    width: 230px;
    height: 50px;
  }
}
/* `lg` applies to large devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  h1 {
    font-size: 45px;
  }
  .container-questions,
  .planning-wrap {
    flex-direction: column;
  }
  .container-contacts {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .footer__logo {
    margin-bottom: 10px;
  }
  .footer__contacts_data {
    width: 40%;
  }
  .benefits-wrap,
  .gallery-wrap {
    justify-content: center;
  }
  .gallery__img {
    width: 215px;
    height: 215px;
  }
  .buying__options-wrap_horisontal-position,
  .buying__options-wrap_vertical {
    width: 100%;
  }
  .partners {
    padding: 20px;
  }
  .partners__img {
    width: 165px;
  }
  .btn-lg {
    padding: 20px 40px;
  }
}
/*----------------------------------------------------*/
/* `md` applies to medium devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .title {
    padding: 0 20px;
  }
  .navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: var(--blue-bg);
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    transition: 0.3s;
    transform: translateX(-100%);
  }
  .header:focus-within .navbar {
    transform: translateX(0);
  }
  .navbar__nav {
    flex-direction: column;
  }
  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header {
    padding: 15px 0;
  }
  .header-mobile__logo {
    height: 70px;
    width: 280px;
  }
  .header-btn-mobile {
    display: flex;
    gap: 10px;
  }
  .hero {
    padding: 350px 0 0 0;
    min-height: 800px;
    background: url('../img/Hero-mobile.webp');
  }
  .hero-text {
    display: none;
  }
  .hero-mobile-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--blue-03);
  }
  .hero-mobile-text > h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .text-blue-word {
    color: var(--blue-02);
  }
  .hero-btn-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 0;
  }
  .hero-btn-mobile .btn {
    padding: 30px 0;
    width: 100%;
  }
  .benefit__img {
    width: 100%;
    height: 120px;
  }
  .benefits-wrap {
    flex-direction: column;
  }
  .benefits-wrap .title {
    margin-bottom: 0;
  }
  .benefit__caption {
    flex-direction: row;
    left: 0;
    transform: translateX(0);
    top: calc(50% - 25%);
    gap: 33px;
    margin-left: 43px;
  }
  .map__details {
    padding: 20px 25px;
    bottom: 25px;
    right: 55px;
  }
  .pointer {
    display: none;
  }
  .pointer-mobile {
    display: inline-flex;
    align-items: center;
    gap: 15px;
  }
  .pointer-img-mobile {
    width: 40px;
    height: 50px;
  }
  .planning__img-wrap {
    padding: 0;
  }
  .planning__rooms {
    width: auto;
  }
  .buying-wrap {
    flex-direction: column;
  }
  .partners {
    display: flex;
    justify-content: center;
  }
  .partners-wrap {
    gap: 20px;
    flex-direction: column;
  }
  .footer {
    padding-top: 0;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo-mobile {
    width: 320px;
    height: 80px;
  }
  .footer__questions {
    flex-direction: column;
  }
  .container-contacts {
    gap: 40px;
  }
  .footer__contacts_data {
    width: 100%;
  }
  .container-networks {
    flex-direction: column;
    gap: 40px;
  }
  .footer-line_documents {
    gap: 110px;
  }
  .footer-line_networks {
    gap: 260px;
  }
}
/* `sm` applies to small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .title {
    font-size: 20px;
  }
  .header {
    padding: 30px 0;
  }
  .navbar-mobile {
    padding: 0 20px;
  }
  .btn-sm {
    padding: 8px 12px;
  }
  .hero {
    padding: 400px 0 0 0;
  }
  .hero-mobile-text > h1 {
    padding: 0 20px;
  }
  .header-mobile__logo {
    height: 40px;
    width: 175px;
  }
  .hero-btn-mobile .btn {
    padding: 25px 0;
    width: 90%;
  }
  .benefits-wrap {
    padding: 0 20px;
  }
  .benefit__img {
    height: 100px;
  }
  .benefit__img__text {
    line-height: 1;
  }
  .benefit__caption {
    top: calc(50% - 20%);
    gap: 0;
    margin-left: 0;
  }
  .benefit__caption > svg {
    width: 60px;
    height: 45px;
  }
  .planning__img {
    width: 360px;
    height: 240px;
  }
  .planning-wrap {
    padding: 30px 5px;
    margin: 0 20px;
  }
  .planning__rooms {
    background-color: #fff;
    padding: 0;
  }
  .planning__btn-wrap {
    box-shadow: 0 20px 20px 0 rgba(0, 63, 128, 0.05);
  }
  .planning__btn-wrap > .btn {
    padding: 0 28px;
  }
  .planning__text > span {
    font-size: 30px;
  }
  .buying-bottom {
    padding: 40px 20px;
  }
  .buying__options-wrap_horisontal {
    gap: 15px;
  }
  .partners-wrap {
    padding: 0 20px;
  }
  .footer-line {
    padding: 40px 20px;
  }
  .container-networks {
    gap: 20px;
  }
  .footer__logo-mobile {
    width: 280px;
    height: 70px;
  }
  .footer-line_documents {
    gap: 20px;
    font-size: 12px;
  }
  .footer-line_networks {
    gap: 60px;
  }
}
/* `xsm` applies to x-small devices (portrait phones, equals to 320px) */
@media (max-width: 320px) {
}

.my-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  background-color: #ccc;
  border-radius: 20px;
  overflow: hidden;
}
.my-slider .swiper-slide > img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1);
  backdrop-filter: blur(5px);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-prev {
  left: 20px;
}
.slider-next {
  right: 20px;
}